<div class='container'>
    <table class='table' *ngIf="orders && orders.length">
      <thead>
        <tr>
          <th>
            <button class='btn btn-primary' (click)="toggleImage()" >
                {{showImages? "Hide Image":"Show Image"}}
              
            </button>
          </th>
          <th>Product</th>
          <th>Code</th>
          <th>Available</th>
          <th>Price</th>
          <th>5 Star Rating</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let order of orders">
              <td><img [src]='order.imageUrl' [style.width.px]="imageWidth" *ngIf="showImages"></td>
              <td>{{order.orderName}}</td>
              <td>{{order.orderCode}}</td>
              <td>{{order.releaseDate}}</td>
              <td>{{order.price}}</td>
              <td><sahith-star [rating]="order.starRating"></sahith-star></td>

          </tr>
      </tbody>
    </table>
</div>
